/*============================================
Company: Triad Retail
Client: Sams Club
Version: 1.0
=============================================*/

@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");

#preloader {
   background: #FFF;
    height: 100%;
    position: absolute;
    z-index: 100;
    width: 100%;
    min-width: 960px;
}

#preloader img{
    top: 250px;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    position: absolute;
}

#fancybox-overlay{
    min-width: 960px !important;
}


/*.main-content {
    position: relative;
    overflow: hidden;
    height:auto !important;
    height: 100%;
    min-height: 1200px;
    padding-bottom: 5px;
    width: 960px;
}*/

.main_content_full {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 1200px;
    width: 100%;
    min-width: 960px;
}

.inner-content { display: none; overflow: hidden; }

.main-pov{
    background: url('../images/pov-back.jpg') no-repeat;
    width: 1030px;
    height: 746px;
    margin: 0 auto;
}

/*POV Slider*/
.flex-container{position:relative;  margin: 0 auto 0 auto; /*top: -38px;*/}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; width:100%; height: auto;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; height: auto;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative; width:100%; }

/* Control Nav */
.flex-nav-container {position:absolute;  width: 100%; max-width:640px; margin:0 auto;  text-align: center; vertical-align: middle;
    height: 52px; top: 7px;
}

.flex-control-nav li {margin:0; padding:0; display: inline-block; zoom: 1; *display: inline; }
.flex-control-nav li a {
    width: 12px;
    height: 12px;
    display: block;
    /*background: ;*/
    border: solid 3px white;
    border-radius: 20px;
    text-indent: -9999px;
    -moz-box-shadow: 0px 0px 3px gray;
    -webkit-box-shadow: 0px 0px 3px rgb(53, 53, 53);
    box-shadow: 0px 0px 3px rgb(53, 53, 53);
    margin: 8px;
}
.flex-control-nav li a:hover {  background: #AAA;}
.flex-control-nav li a.active { background: #AAA; cursor: default;}
.flex-control-nav .flex-active {background: #26aae1; cursor: default;}
.flex-control-nav {
    width: 150px;
    position: absolute;
    margin-right:-60px;
    right: 50%;
    top: 790px;
}

.povMainWrap {
    height:830px;
    background:url( ../images/bigBeanBG.jpg ) repeat-x;
    padding:0;
    margin:0;
}

.povHolder{
    width:100%;
    height:693px;
    position:relative;
    /*margin-top:47px;*/
}

.slides{
    width:1500px;
    height:763px;
    left:50%;
    margin-left:-750px;
    position:relative;
    overflow:hidden;
}

.slide{
    width:1500px;
    height:593px;
    display:none;
}

.introLogo{
    left:50%;
    /*margin-top:-85px;*/
    margin-left:-441px;
    width:894px;
    height:407px;
    position:relative;
}

.introProd{
    position:absolute;
    top:60px;
    left:50%;
    margin-left:-620px;
    width:1275px;
    height:708px;
}

.introLine{
    width:196px;
    height:70px;
    top:387px;
    left:50%;
    margin-left:-98px;
	z-index:9999;
}

.povContent{
    position:absolute;
}

.slideBg{
    width:1500px;
    height:614px;
    left: 50%;
    margin-left: -750px;
    position: relative;
}

a{
    text-decoration:none;
}

.lolLogo{
    top:50px;
    left:50%;
    margin-left:-115px;
    width:231px;
    height:122px;
}

a.lolBtn{
    top:368px;
    left:50%;
    margin-left:-86px
}

.lolProd{
    top:430px;
    width:622px;
    height:352px;
    left:50%;
    margin-left:-311px;
}

.lolCopy{
    top:296px;
    width:550px;
    height:46px;
    left:50%;
    margin-left:-275px;
}

.lolHead{
    width:595px;
    height:75px;
    top:200px;
    left:50%;
    margin-left:-296px;
}

.gmLogo{
    top: 20px;
    left: 50%;
    margin-left: -104px;
    width: 208px;
    height: 132px;
}
.gmHead{
    top: 210px;
    left: 50%;
    margin-left: -322px;
    width: 655px;
    height: 54px;
}
.gmCopy{
    top: 312px;
    left: 50%;
    margin-left: -298px;
    width: 596px;
    height: 72px;
}
.gmBtn{
    top: 420px;
    left: 50%;
    margin-left: -140px;
}
.gmProd{
    top: 488px;
    left: 50%;
    margin-left: -316px;
    width: 632px;
    height: 277px;
}

.idLogo{
    left: 50%;
    margin-left: -87px;
    width: 174px;
    height: 133px;
    top: 55px;
}
.idHead{
    top: 190px;
    left: 50%;
    margin-left: -334px;
    width: 668px;
    height: 97px;
}
.idCopy{
    top: 285px;
    left: 50%;
    margin-left: -303px;
    width: 606px;
    height: 94px;
}
.idBtn{
    top: 375px;
    left: 50%;
    margin-left: -103px;
}
.idProd{
    top: 460px;
    left: 50%;
    margin-left: -499px;
    width: 999px;
    height: 312px;
}
/* Start styles */

.bottom-section{
    background: url('../images/bottom-pattern.jpg') repeat;
    width: 100%;
    height: 700px;
}

#mod-divider{
    background: url('../images/mod-divider.png') no-repeat;
    height: 699px;
}

.shopAll {
    position: absolute;
    left: 385px;
    top: 133px;
}

.zip-section {
    padding: 30px 0;
    position: relative;
}

.ziplocator{
    position: absolute;
    left: 635px;
    top: 12px;
}

#zipone input{
border: 1px solid #c4c4c4;
text-align: center;
padding: 3px 14px 3px 14px;
font-family: 'WhitneyKBook' , Arial,Verdana;
font-size: 15px;
width: 103px;
margin-top: 28px;
margin-left: 29px;
color: #A3A3A3;
}

#zipone input::-ms-clear {
    display: none;
}

.goBTN {
   position: absolute;
    left: 167px;
    top: 31px;
}

.middle-section {
    border-bottom: 1px solid #CFCFCF;
}

.video-mod {
    position: absolute;
    top: 35px;
    left: 42px;
}

#video-title {
    margin: 0 auto;
}

.social-mod{
    background: url('../images/share-intro.png') no-repeat;
    width: 426px;
    height: 274px;
    position: absolute;
    left: 497px;
    top: 366px;
}

ul#social-delight{
    position: absolute;
    top: 214px;
    left: 22px;
}

ul#social-green {
    position: absolute;
    top: 215px;
    left: 158px;
}

ul#social-land {
    position: absolute;
    top: 215px;
    left: 295px;
}

#social-delight li, #social-green li, #social-land li{
     display: inline-block;
}

ul#social-delight li a, ul#social-green li a, ul#social-land li a{
    width: 24px;
    height: 24px;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-right: 8px;
    cursor: pointer;
    display: block;
}

/*-------- Quizzz*/
.quizz-mod {
    /*background: url('../images/quizz-mod.jpg') no-repeat;
    width: 426px;
    height: 274px;*/
    position: absolute;
    left: 41px;
    top: 366px;
}

.quiz{
    width: 402px;
    height: 259px;
    position: relative;
    float: left;
    background: url('../images/question-back.jpg') no-repeat;
    padding-top: 15px;
    padding-left: 25px;
}
.introImg{
    position:absolute;
    top: 0px;
    left: 1px;
}
.beginQuizHS{
    width: 142px;
    height: 34px;
    background:url( ../images/emptyhotspot.gif ) repeat;
    position:absolute;
    top: 185px;
    left: 42px;
}
.quiz h2{
    font-size:17pt;
    color: #471000;
}

.quiz span{
    font-size:17pt;
    color: #eee5a4;
    font-weight: bold;
}

.quizAnswers{
    margin-top:20px;
    list-style:none;
}
.questionNumber{
    top: 249px;
    right: -7px;
    position:absolute;
    color:#eee5a4;
    padding-left:10px;
    padding-right:15px;
    background-color:#471000;
    padding-top:4px;
    padding-bottom:5px;
}
.radioBtn{
    width:24px;
    height:24px;
    float:left;
    margin-right:10px;
    background:url( ../images/radioBtn.png ) no-repeat 0px -30px;
}
.radioBtnSelected{
    background:url( ../images/radioBtn.png ) no-repeat 0px 0px;
}

.quizAnswers li{
    margin-top:10px;
    margin-bottom:10px;
}
.quizAnswers a{
    color:#6c6b6b;
    font-size:12pt;
    text-decoration:none;
}
.quizResultImg{
    margin-top:-15px;
    margin-left:-25px;
}
.quizResultBuyKcup{
    width:93px;
    height:24px;
    background:url( ../images/emptyhotspot.gif ) repeat;
    position:absolute;
    top: 240px;
    left: 46px;
}
.takeQuizAgain{
    width:123px;
    height:24px;
    background:url(../images/emptyhotspot.gif ) repeat;
    position:absolute;
    top: 239px;
    right: 11px;
}




/*===========================================
Button Styles
============================================*/
.btn{
    display: inline-block;
    padding: 10px 14px;
    color:#727070;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #d5d5d5;
    text-align: center;
    background: #fcfcfc; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2YzZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #fcfcfc 1%, #f3f2f2 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfcfc), color-stop(99%,#f3f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 1%,#f3f2f2 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 1%,#f3f2f2 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 1%,#f3f2f2 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfcfc 1%,#f3f2f2 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f3f2f2',GradientType=0 ); /* IE6-8 */
}

.btn:hover{
    background: #f3f2f2; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f3f2f2 0%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f2f2), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3f2f2 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3f2f2 0%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3f2f2 0%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f3f2f2 0%,#fcfcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f2f2', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-8 */
}

.btn.gray{
    color:#fff;
    text-shadow: 1px 1px 2px #b2b2b2;
    border: 1px solid #d3d3d3;
    background: #e6e6e6; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e6e6e6 0%, #d4d4d4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e6e6e6 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e6e6e6 0%,#d4d4d4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e6e6e6 0%,#d4d4d4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e6e6e6 0%,#d4d4d4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-8 */
}

.btn.gray:hover{
    text-shadow: 1px 1px 2px #b2b2b2;
    background: #d4d4d4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #d4d4d4 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d4d4), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d4d4d4 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d4d4d4 0%,#e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d4d4d4 0%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d4d4d4 0%,#e6e6e6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
}

.btn.orange{
    color:#fff;
    text-shadow: 1px 1px 2px #9c7b22;
    border: 1px solid #facb55;
    background: #f6dd38; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZGQzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2FhM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6dd38 0%, #f7aa3c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6dd38), color-stop(100%,#f7aa3c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6dd38 0%,#f7aa3c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6dd38 0%,#f7aa3c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6dd38 0%,#f7aa3c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6dd38 0%,#f7aa3c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6dd38', endColorstr='#f7aa3c',GradientType=0 ); /* IE6-8 */
}

.btn.orange:hover{
    text-shadow: 1px 1px 2px #9c7b22;
    background: #f7aa3c; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3YWEzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmRkMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f7aa3c 0%, #f6dd38 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7aa3c), color-stop(100%,#f6dd38)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7aa3c 0%,#f6dd38 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7aa3c 0%,#f6dd38 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7aa3c 0%,#f6dd38 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7aa3c 0%,#f6dd38 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7aa3c', endColorstr='#f6dd38',GradientType=0 ); /* IE6-8 */
}

.btn.green{
    color:#fff;
    text-shadow: 1px 1px 2px #327507;
    border: 1px solid #53a426;
    background: #5db91f; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYjkxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODlmMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #5db91f 0%, #489f09 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5db91f), color-stop(100%,#489f09)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5db91f 0%,#489f09 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5db91f 0%,#489f09 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5db91f 0%,#489f09 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5db91f 0%,#489f09 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db91f', endColorstr='#489f09',GradientType=0 ); /* IE6-8 */
}

.btn.green:hover{
    text-shadow: 1px 1px 2px #327507;
    background: #489f09; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4OWYwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZGI5MWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #489f09 0%, #5db91f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#489f09), color-stop(100%,#5db91f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #489f09 0%,#5db91f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #489f09 0%,#5db91f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #489f09 0%,#5db91f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #489f09 0%,#5db91f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489f09', endColorstr='#5db91f',GradientType=0 ); /* IE6-8 */
}

.btn.darkBlue{
    color:#fff;
    text-shadow: 1px 1px 2px #013573;
    border: 1px solid #023a73;
    background: #07549d; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3NTQ5ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTQxODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #07549d 0%, #014183 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07549d), color-stop(100%,#014183)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #07549d 0%,#014183 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #07549d 0%,#014183 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #07549d 0%,#014183 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #07549d 0%,#014183 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07549d', endColorstr='#014183',GradientType=0 ); /* IE6-8 */
}

.btn.darkBlue:hover{
    text-shadow: 1px 1px 2px #013573;
    background: #014183; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNDE4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzU0OWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #014183 0%, #07549d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#014183), color-stop(100%,#07549d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #014183 0%,#07549d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #014183 0%,#07549d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #014183 0%,#07549d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #014183 0%,#07549d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014183', endColorstr='#07549d',GradientType=0 ); /* IE6-8 */
}

.btn.blue{
    color:#fff;
    text-shadow: 1px 1px 2px #0366aa;
    border: 1px solid #067fbc;
    background: #0698e1; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2OThlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTgyYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #0698e1 0%, #0582c8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0698e1), color-stop(100%,#0582c8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0698e1 0%,#0582c8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0698e1 0%,#0582c8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0698e1 0%,#0582c8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0698e1 0%,#0582c8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0698e1', endColorstr='#0582c8',GradientType=0 ); /* IE6-8 */
}

.btn.blue:hover{
    text-shadow: 1px 1px 2px #0366aa;
    background: #0582c8; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1ODJjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjk4ZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #0582c8 0%, #0698e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0582c8), color-stop(100%,#0698e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0582c8 0%,#0698e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0582c8 0%,#0698e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0582c8 0%,#0698e1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0582c8 0%,#0698e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0582c8', endColorstr='#0698e1',GradientType=0 ); /* IE6-8 */
}

.btn.small{
    font-size: 12px;
    padding: 4px 8px;
}

.btn.large{
    font-size: 16px;
    padding: 14px 18px;
}

/* iPads (portrait) ----------- */
@media handheld, only screen and (min-width: 768px) and (max-width: 959px){
.slides{
    width:1500px;
    height:763px;
    /*left:50%;
    margin-left:-750px;*/
    position:relative;
    overflow:hidden;
}   
}

/* iPads (landscape) ----------- */
@media handheld, only screen and (max-width: 1024px) and (min-width: 768px){
.slides{
    width:1500px;
    height:763px;
    /*left:50%;
    margin-left:-750px;*/
    position:relative;
    overflow:hidden;
}
}
